ChatListView {
  dock: left;
  width: 20;
  height: 100%;
}

ChatHeader {
  width: 100%;
  padding: 1;
  text-align: center;
  text-style: bold;
  background: $primary;
}

ChatPane {
  height: 10fr;
}

Input {
  height: 1fr;
}

Message {
  align-horizontal: left;
}

Message.author-me {
  align-horizontal: right;
}

Message Static.content {
  width: auto;
  min-width: 10;
  max-width: 60%;
  border: dodgerblue;
  border-title-align: left;
}

Message.author-me Static.content {
  border: gray;
  border-title-align: right;
}

MessageInput {
  padding: 1;
}
